

<head>

<style>

#body{
  margn: 0px 100px;
}

#body.ng-scope{
  margin: 20px  100px;
}

</style>

</head>

</body>


  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Shareboard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href = "#/">Home</a></li>
        <li><a href="#/about">About</a></li>
        <li><a href="#/login">Signup</a></li>
        <li><a href="#/login">Login</a></li>
      </ul>
    </div>
  </nav>


  <div id = "body">

  <h4> About US </h4>

  <p class="flow-text">


    Few people realize that the classroom blackboard is one of the most revolutionary educational tools ever invented. And it may be hard to hard to fathom that blackboards as we know them today were unknown until relatively recent times.

  Online M.Ed. in Curriculum & Instruction

  The invention of the blackboard had an enormous impact on classroom efficiency. Due to their simplicity, effectiveness, economy and ease of use, the simple blackboard and its cousin the whiteboard have substantial advantages over any number of more-complex modern technologies. It’s unlikely they will ever become obsolete.

  </p>

  <img src = "http://newartcolorz.com/images/blackboard-wallpaper/kartandtinki1_blackboard-wallpaper_02.jpg">


  <p class="flow-text">

    A whiteboard (also known by the terms markerboard, dry-erase board, dry-wipe board, pen-board, and the misnomer greaseboard) is any glossy, usually white surface for nonpermanent markings. Whiteboards are analogous to blackboards, but with a smoother surface allowing rapid marking and erasing of markings on their surface. The popularity of whiteboards increased rapidly in the mid-1990s and they have become a fixture in many offices, meeting rooms, school classrooms, and other work environments.

The term whiteboard is also used metaphorically to refer to features of computer software applications that simulate whiteboards. Such "virtual whiteboards" allow one or more people to write or draw images on a simulated canvas. This is a common feature of many virtual meeting, collaboration, and instant messaging applications. The term whiteboard is also used to refer to interactive whiteboards.

  </p>
  </div>
</body>
