
<head>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type ="text/javascript">
	$(document).ready(function (){
		//share on click test


		// $('#share').click(function(){
			socketSync()
			toggleShareState()
		// });

		function toggleShareState() {
			console.log('changing color')
			$('#share').toggleClass('grey')

				// {
				// 	"border-color": "white",
        //   "border-weight":"1px",
				// 	"background-color": 'red',
        //   "border-style":"dashed"
				// });
		}


		function socketSync() {

			var socket = io.connect();

			//jquery to append text message to div and send to server
	    $(document).keyup(function(){
				// $(document).on('click', '#send', function(){
					// var text_val = $('#textarea1').val();
					var text_val = $('#textarea1').html().replace(/\s+/g, " ");
					socket.emit("msg", {
						message: text_val
					})
	        //console.log(e);
			})

			$(document).click(function(){
				// $(document).on('click', '#send', function(){
					// var text_val = $('#textarea1').val();
					var text_val = $('#textarea1').html().replace(/\s+/g, " ");
					socket.emit("msg", {
						message: text_val
					})
					//console.log(e);
			})



			socket.on('newmsg', function(data){
				var value = JSON.stringify(data.response.message)
				var clean_string = value.replace(/\"/g, "")

				// $('p').text(clean_string);
				// $('#notes').val(clean_string);
				$('#notes').html(clean_string);
			});
		}



		return false;

	});

</script>

  <style>

	#chatroom{
		border: 1px solid grey;
		margin: 100px 200px 0px 200px;
		height: 250px;
		padding: 10px 50px;
	}

	#newmessage{
		border: 1px solid grey;
		margin: 0px 200px;
		height: 50px;
		padding: 10px 50px;
	}



	#send{
		background-color: green;
		color: white;
		width: 70px;
		margin-left: 300px;
	}

#textarea1{
  width: 900px;
  height: auto;

}

#margin{
  margin: 100px;
}

</style>

</head>



<div ng-controller = "login1">

    <h4>Title:  {{title}} </h4>

    <div class = "form-group">
      <!-- <div id = "textarea1" ng-model = "new_lecture.lecture"> <p> </p></div> -->
      <!-- <textarea id = "textarea1" ng-model = 'new_lecture.lecture'>
      </textarea> -->


			<!-- Paper -->
			<!-- <div class="paper">
			  <div class="date serif">9/28/2012</div>
			  <h1>Lorem ipsum and so on..</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus sem vel mauris porttitor sit amet adipiscing odio interdum. Nunc non magna sit amet augue rutrum laoreet in in nulla. Nunc et malesuada orci. Sed metus enim, venenatis tincidunt tincidunt a, malesuada nec dolor. Nam volutpat, augue fringilla mattis venenatis, odio ipsum porta
				</p>
				<h2 class="center">Header center aligned</h2>
				<p class="small">
					Sapien, et tincidunt tortor erat quis nulla. Mauris dictum laoreet purus, et gravida magna aliquet quis. Phasellus sollicitudin tortor ut leo fringilla sed scelerisque diam suscipit. Donec non tortor id ante adipiscing tempus vitae et massa. Donec risus nisl, tincidunt quis facilisis blandit, lacinia vestibulum nulla.
				</p>
				<h3 class="serif">Paragraphs with different fonts</h3>
				<p class="serif">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus sem vel mauris porttitor sit amet adipiscing odio interdum. Nunc non magna sit amet augue rutrum laoreet in in nulla.
				</p>
				<h1 class="center cursive">Fancy Header</h1>
				<p class="cursive">
					Nunc et malesuada orci. Sed metus enim, venenatis tincidunt tincidunt a, malesuada nec dolor. Nam volutpat, augue fringilla mattis venenatis, odio ipsum porta
				</p>
				<h3>New paragraph with indentation.</h3>
				<p class="indent">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rhoncus sem vel mauris porttitor sit amet adipiscing odio interdum. Nunc non magna sit amet augue rutrum laoreet in in nulla. Nunc et malesuada orci. Sed metus enim, venenatis tincidunt tincidunt a, malesuada nec dolor. Nam volutpat, augue fringilla mattis venenatis, odio ipsum porta
				</p>
			  <p class="center">
			    Tileable Wood pattern from <a href="http://subtlepatterns.com/tileable-wood/" target="_blank">Subtle Patterns</a><br>
			    <strong>Love Subtle Patterns?</strong><br>
			    Check out my  Chrome Extension: <a href="https://chrome.google.com/webstore/detail/cnhhinfdmnakglphgajbakokcdhmdinf" target="_blank">Subtle Patterns Preview</a>
			  </p>
			</div> -->

			<!-- /Paper -->

			<div class="row">
				<div class="col s10" style="border: 1px solid black; padding: 20px;">
					<div class="editable" id = "textarea1" ng-model = 'new_lecture.lecture'>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s10">
		      <a ng-click = 'addAndSendLecture("this is the lecture")' type = "button" class="waves-effect waves-light btn right">Submit</a>
			    <a id = "share" ng-click = 'sendEmail()' type = "button" class="waves-effect waves-light grey btn right">Share <i class="fa fa-share-alt"></i></i></a>
				</div>
			</div>

				<div id="notes"></div>

				<script type="text/javascript">
		      var editor = new MediumEditor('.editable');
		      var elements = document.querySelectorAll('.editable'),
		      editor = new MediumEditor(elements);
		    </script>

      <div id = "msg">
        <p class="copy-here">


        </p>
      </div>
    </div>

</div>
