
<head>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type ="text/javascript">
	$(document).ready(function (){
		//share on click test


		// $('#share').click(function(){
			socketSync()
			toggleShareState()
		// });

		function toggleShareState() {
			console.log('changing color')
			$('#share').toggleClass('grey')

				// {
				// 	"border-color": "white",
        //   "border-weight":"1px",
				// 	"background-color": 'red',
        //   "border-style":"dashed"
				// });
		}


		function socketSync() {

			var socket = io.connect();

			//jquery to append text message to div and send to server
	    $(document).keyup(function(){
				// $(document).on('click', '#send', function(){
					// var text_val = $('#textarea1').val();
					var text_val = $('#textarea1').html().replace(/\s+/g, " ");
					socket.emit("msg", {
						message: text_val
					})
	        //console.log(e);
			})

			$(document).click(function(){
				// $(document).on('click', '#send', function(){
					// var text_val = $('#textarea1').val();
					var text_val = $('#textarea1').html().replace(/\s+/g, " ");
					socket.emit("msg", {
						message: text_val
					})
					//console.log(e);
			})



			socket.on('newmsg', function(data){
				var value = JSON.stringify(data.response.message)
				var clean_string = value.replace(/\"/g, "")

				// $('p').text(clean_string);
				// $('#notes').val(clean_string);
				$('#notes').html(clean_string);
			});
		}



		return false;

	});

</script>

  <style>

	#chatroom{
		border: 1px solid grey;
		margin: 100px 200px 0px 200px;
		height: 250px;
		padding: 10px 50px;
	}

	#newmessage{
		border: 1px solid grey;
		margin: 0px 200px;
		height: 50px;
		padding: 10px 50px;
	}



	#send{
		background-color: green;
		color: white;
		width: 70px;
		margin-left: 300px;
	}

#textarea1{
  width: 900px;
  height: auto;

}

#margin{
  margin: 100px;
}

</style>

</head>



<div ng-controller = "login1">

    <h4>Title:  {{title}} </h4>

    <div class = "form-group">

			<div class="row">
				<div class="col s10" style="border: 1px solid black; padding: 20px;">
					<div class="editable" id = "textarea1" ng-model = 'new_lecture.lecture'>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s10">
		      <a ng-click = 'addAndSendLecture("this is the lecture")' type = "button" class="waves-effect waves-light btn right">Submit</a>
			    <a id = "share" ng-click = 'sendEmail()' type = "button" class="waves-effect waves-light grey btn right">Share <i class="fa fa-share-alt"></i></i></a>
				</div>
			</div>

				<div id="notes"></div>

				<script type="text/javascript">
		      var editor = new MediumEditor('.editable');
		      var elements = document.querySelectorAll('.editable'),
		      editor = new MediumEditor(elements);
		    </script>

      <div id = "msg">
        <p class="copy-here">


        </p>
      </div>
    </div>

</div>
