
<style>
#wrapper{
  margin: 50px 80px;
}
#logoff, h3{
  display: inline-block;
}

#logoff{
  margin-left: 500px;
}
</style>


  <div  ng-controller = 'login1'>
  <div id = "wrapper">
    <h2 ng-bind = "loguser.name"></h2>
    <h3> Welcome  {{loguser}}</h3>
    <!-- <input id = "logoff" type = "submit" value = "logofff"> -->
    <a href = '/' > logoff </a>

    <div class ="form-group">
      <h4> Presentation Title </h4>
      <input type = "text" ng-model = 'newPresentation.title'>
      <h4> Participants <h4>
      <input type = "text" ng-model = 'newPresentation.participants'>
      <input ng-click = 'addPresentation()' type="submit" class="btn btn-primary" value="Create New Presentation">
    </div>



    <h4> Your Presentations </h4>
    <div ng-repeat = "lecture in lectures">
      <a ng-click="tolecture(lecture._id)" ng-bind = "lecture.title"> </a>
    </div>

  </div>
</div>
