
<style>
#wrapper{
  margin: 50px 80px;
}
#logoff, h3{
  display: inline-block;
}

#logoff{
  margin-left: 500px;
}
</style>


<body>
  <div id = "wrapper">
    <h3> Welcome John {{users.name}}</h3>
    <!-- <input id = "logoff" type = "submit" value = "logofff"> -->
    <a href = '/' > logoff </a>
    <h4> Presentation Title </h4>
    <input type = "text">
    <h4> Participants <h4>
    <input type = "text">
    <input type="submit" class="btn btn-primary" value="Create New Presentation">


    <h4> Your Presentations </h4>
    <ul>
       <a href = ""> presentation1 </a>
       <a herf = ""> presentation2 </a>
       <a herf = ""> presentation3 </a>​
    </ul>
  </div>
</body>
