

<script type="text/javascript">
$(document).ready(function(){
  $('ul.tabs').tabs();
});
</script>

<div  ng-controller = 'login1'>
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Shareboard</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href = "#/">Home</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/login">Signup</a></li>
      <li><a href ="#/"> LogOff </a> </li>
    </ul>
  </div>
</nav>

<ul class="tabs">
  <li class="tab col s3"><a class="active" href="#main">Create New presentation</a></li>
  <li class="tab col s3"><a href="#listofp">Your Presentations</a></li>
</ul>
